.comment-title {
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.comment-title-text {
    text-decoration: underline;
}

.comment-chunk {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.comment-holder {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}