.orpheus-welcome {
    justify-content: center;
    align-items: center;
}
.orpheus-welcome * {
    display: flex;
    justify-content: center;
    min-width: 450px;
}
.setup-checklist {
    flex-direction: column;
}
.setup-checklist div::before {
    content: "☐"
}
.setup-checklist div.strike::before {
    content: "☑"
}