@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48;
    cursor: default;
    user-select: none;
    font-size: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    height: min-content;
}

.filled {
    font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--font);
}

html, body {
    overscroll-behavior-x: none;
}

* {
    color: var(--font);
    transition: color 200ms, background-color 200ms;
    z-index: inherit;
}