:root.mobile {
    font-size: 1.5rem;
}

.mobile .widget-header {
    height: 34px;
    gap: 24px;
    font-size: 1rem;
}

.mobile footer {
    font-size: 0.55rem;
}

.mobile .data-resizer {
    width: 12px;
    margin-left: -6px;
    margin-right: -6px;
    touch-action: none;
}

.data-dragger {
    touch-action: none;
}

.mobile .row {
    height: 85px;
}

.mobile select {
    font-size: 0.9rem;
}

.mobile .x > .resizer {
    width: 8px;
    min-width: 8px;
    touch-action: none;
}

.mobile .y > .resizer {
    height: 8px;
    min-height: 8px;
    touch-action: none;
}

.mobile .widget-header.tabs {
    min-height: 30px;
}