:root.projector {
    font-size: 1.5rem;
}

:root.projector body {
    margin: 0 1rem 1rem 1rem;
}


:root.projector .data.tiny {
    width: 121.5px;
    min-width: 81px;
}
:root.projector .data {
    width: 180px;
    min-width: 120px;
}
:root.projector .data.large {
    width: 315px;
    min-width: 210px;
}
:root.projector .data.massive {
    width: 450px;
    min-width: 300px;
}

:root.projector .star, .ignore {
    font-size: 1.75rem;
}

:root.projector .comments-title {
    font-size: 1.2rem;
}

:root.projector .team-comments {
    font-size: 1rem;
}

:root.projector .match-alliance {
    font-size: .8rem;
}

:root.projector .match-number {
    font-size: 1rem;
}
