.table {
    display: flex;
    flex-direction: column;
}
.row {
    height: 70px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--line);
    flex-shrink: 0;
    background: var(--bg);
    align-items: center;
}
.row.header {
    position: sticky;
    top:0;
}
.data {
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
}
.data.header.selected {
    background-color: var(--highlight);
}

.data-resizer {
    width: 5px;
    height: 100%;
    background-color: var(--line);
    cursor: col-resize;
    border-left: 2px solid var(--bg);
    border-right: 2px solid var(--bg);
    position: relative;
    box-sizing: border-box;
    margin-left: -3px;
    margin-right: -2px;
}

.data-drag-indicator {
    width: 4px;
    height: 100%;
    background-color: var(--font);
    border-left: 4px solid var(--bg);
    border-right: 4px solid var(--bg);
    position: relative;
    box-sizing: content-box;
    margin-left: -9px;
    margin-right: -4px;
    z-index: 10000;
}

.data-dragger {
    position: absolute;
    top: 0;
    color: var(--line);
    cursor: grab;
    writing-mode: vertical-rl;
}
.data-dragger:hover {
    color: var(--font);
}
.data-dragger:active {
    cursor: grabbing;
}

.table-logo {
    width: calc(70px - 0.5rem);
    height: calc(70px - 0.5rem);
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid var(--line);
    object-fit: contain;
}
