.table {
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    flex-direction: column;
}
.row {
    height: 70px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--line);
    flex-shrink: 0;
    background: var(--bg);
}
.row.header {
    position: sticky;
    top:0;
}
.data {
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.data-resizer {
    width: 1px;
    height: 100%;
    background-color: var(--line);
    cursor: col-resize;
    border-left: 2px solid var(--bg);
    border-right: 2px solid var(--bg);
    position: relative;
    box-sizing: content-box;
    margin-left: -3px;
    margin-right: -2px;
}

.data-dragger {
    position: absolute;
    top: 0;
    color: var(--line);
    cursor: grab;
    writing-mode: vertical-rl;
}
.data-dragger:hover {
    color: var(--font);
}
.data-dragger:active {
    cursor: grabbing;
}