.table {
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    flex-direction: column;
}
.row {
    height: 80px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--line);
    flex-shrink: 0;
}
.data {
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}