.content {
    display: flex;
}

.widget-holder {
    display: flex;
}

.widget-holder.y {
    flex-direction: column;
}

.x > .resizer {
    width: 4px;
    height: 100%;
    background-color: var(--line);
    cursor: col-resize;
}

.y > .resizer {
    height: 4px;
    width: 100%;
    background-color: var(--line);
    cursor: row-resize;
}

.widget {
    overflow: hidden;
}

.widget-header {
    background-color: var(--bg);
    border-bottom: 1px solid var(--line);
    display: flex;
    font-size: .8rem;
    align-items: center;
    height: 18px;
}

.widget-drag {
    cursor: grab;
}
.widget-drag:active {
    cursor: grabbing;
}
.widget-drag.dragging {
    position: absolute;
}