.content {
    display: flex;
}

.widget-holder {
    display: flex;
}

.widget-holder.y {
    flex-direction: column;
}

.resizer {
    z-index: 1000;
}

.x > .resizer {
    width: 4px;
    min-width: 4px;
    height: 100%;
    background-color: var(--line);
    cursor: col-resize;
}

.y > .resizer {
    height: 4px;
    min-height: 4px;
    width: 100%;
    background-color: var(--line);
    cursor: row-resize;
}

.widget {
    overflow: hidden;
}

.widget:has(.widget-drag.dragging) {
    opacity: 0.5;
}

.widget.inactive-tab {
    display: none;
}

.widget-header {
    background-color: var(--bg);
    border-bottom: 1px solid var(--line);
    display: flex;
    font-size: .8rem;
    align-items: center;
    height: 18px;
}

.widget-drag {
    cursor: grab;
}
.widget-drag:active {
    cursor: grabbing;
}
.widget-drag.dragging {
    position: absolute;
    font-size: 5rem;
    opacity: 0;
}

.widget-remove {
    cursor: pointer;
}